/* @settings

name: Azel
id: azel
settings:
    - 
        id: text-highlight-bg-rgb
        title: Hightlight Color
        type: variable-color
        opacity: false
        format: rgb-values
        default: '#ffd000'
*/



markk,
.cm-highlight {
    background-color: unset !important;
    background-image: linear-gradient(
        0deg,
        var(--text-highlight-bg) 40%,
        transparent 40%
    ) !important
}
