/* @settings

name: Azel
id: azel
settings:
    - 
        id: text-highlight-bg-rgb
        title: Hightlight Color
        type: variable-color
        opacity: false
        format: rgb-values
        default: '#ffd000'
*/

mark,
.cm-highlight {
    background-color: unset !important;
    background-image: linear-gradient(
        0,
        var(--text-highlight-bg) 40%,
        transparent 40%
    ) !important
}

:root {
	--list-item-spacing: 0.5em;
}

/* reading mode */
:is(ul, ol) li {
	margin-bottom: var(--list-item-spacing);
	&:last-child {
		margin-bottom: unset;
	}
}

:is(ul, ol) li:first-child {
  margin-top: var(--list-item-spacing);
}

li > p {
  margin-bottom: var(--list-item-spacing) !important;
}

/* edit mode */
.markdown-source-view.mod-cm6 .cm-contentContainer > .cm-content .cm-line.HyperMD-list-line {
    padding-bottom: var(--list-item-spacing) !important;
    &:last-child {
        padding-bottom: unset !important;
    }
}

/* .markdown-rendered ul { margin-block-start: -0.4em; }
.markdown-rendered ul ul { margin-block-start: inherit; }
.markdown-rendered ol { margin-block-start: 0em; }
.markdown-rendered ol ol { margin-block-start: inherit; }  */


/* source mode latex colors */
/* commands */
.cm-s-obsidian .cm-inline-code,
    .cm-s-obsidian .cm-math {
        color: #6ab07c ;
    }

/* dolla sign */
.cm-s-obsidian span.cm-formatting-math {
    color: #e05353 !important;
}

/* text */
cm-link, .cm-variable, .cm-variable-2, .cm-variable-3 {
    color: #5e8f64 !important;
    font-weight: bold;
}

/* brackets */
.theme-light .latex-suite-color-bracket-0, .theme-light .latex-suite-color-bracket-0 .cm-bracket {
    color: #db7979;
}
